*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
    position: relative;
}
.navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    width: 0%;
    display: block;
    content:"" ;
    height: 3px;
    left: 0px;
    bottom: -5px;
    background: #35A22C;
    transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #35A22C;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #35A22C;
}
.navbar-light .navbar-nav .active>.nav-link::before{
    width: 100%;
    color: #35A22C;
}
.navbar-brand {
    font-size: 35px;
    font-weight: 400;
}
.navbar-brand i{
    color: #35A22C;
    font-size: 45px;
}
.nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}
.nav-pills .nav-link.active{
    background-color: #35A22C;
    border: #35A22C;
}
.text-h2{
    font-weight: 750;
}
.carousel-item h1{
    font-size: 50px;
    transition: 2s;
}
.carousel-item h4{
    transition: 4s;
}
.carousel__bg{
 height: 100vh;
 object-fit: cover;
}
.carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.carousel .carousel-caption{
    bottom: 30%;
}
.carousel-item:before{
    display: block;
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    top: 0px;
    left: 0px;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-bottom: 60px;    
}
.carousel-indicators li.active {
    background-color: #35A22C;
    
}
.container__products{
    margin-top: 80px;
}
.container__products p{
    font-size: 40px;

}
.container .container__heading p{
    line-height: 24px;
    color: #585858;
    margin: 30px 175px;
    text-align: center;
}
.item_content{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
}
.item_content .title:hover{
    color: #35A22C;
    border: 1px solid #35A22C;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top:none;
}
.item_content p{
    margin: 0;
}
.item_content .title{
    padding: 15px;
    border: 1px solid  transparent;

}
#products .item_content img{
    height: 350px;
    object-fit: cover;
}
#products.item_content .title{
    padding: 5px;
    border: 1px solid #fff;
    transition: 0.3s;

    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: white;
}
#products .item_content:hover title{
    color: #35A22C;
    border: 1px solid #35A22C;

    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: white;
}
.products__content .tab-content h5{
    font-weight: 400;
}
.feature{
    background: url(img/3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
}
.overlay{
    background: rgba(39,43,54,.5);
    padding: 100px 0 120px;
    
}
.feature .overlay{
    background:rgba(7,10,12,.72);
   
}
.feature .overlay .container{
    margin: auto;
}
.feature .overlay .container .row{
    display: flex;
    flex-wrap: wrap;
   
}
.feature .overlay .heading{
    text-align: center;
    max-width: 750px;
    color: #fff;
}
.feature .overlay .item p{
    padding: 0px 27px;
    margin: 35px 0px 50px 0px;
}
.feature .overlay .item{
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    color: #fff;
    text-align: center;
    transition: all .5s;
}
.feature .overlay .item:hover{
    background-color: black;
    border: 1px solid white;
}

.feature .overlay .item i{
    color: #35A22C;
    font-size: 50px;
}
.award{
   position: relative;
   padding: 50px;
}
.award .award__bg{
    background-image: url(img/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.award .container-lg{
    max-width: 1100px;
    margin: auto;
}

.award .award__left__heading{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}
.award .award__right{
    padding-top: 50px;
}
.award .award__right .row{
    display: flex;

}
.award .award__right .row img{
    max-width: 100%;
}
.footer__container{
    max-width: 1200px;
    margin: auto;
}
.footer__main{
    text-align: center;
}
.footer__main i{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color:#aaa;
    border: 1px solid#454545;
    line-height: 42px;
    margin-right: 10px;
}
.footer__copies,a{
    color: #aaa;
    text-align: center;

}
.footer__copies a:hover{
    color: #35A22C;
}
.footer__main i:hover{
    color: #35A22C;
    border: 1px solid #35A22C;
}
.footer{
    background:#222222;
    width: 100%;
}
.line{
    height: 1px;
    background-color: #aaa;
    margin: 25px 0px;
}

    


